{% extends 'registration/base.html' %}
{% block content %}
<a href="{% url 'dciList'  %}" style="text-decoration: none;">
    <button type="button" class="btn btn-secondary btn-sm">
        <span style="font-size: 1.2em;">&#8592; Back</span>
    </button>
</a>

<h2>{{ dci.name }}: Groups & Items</h2>

<!-- Table for displaying DCI Groups and DCI Items side by side -->
<h3>DCI Groups & Items</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="border text-start">Group Name</th>
            <th class="border text-start">Item Code</th>
            <th class="border text-start">Item Name</th>
        </tr>
    </thead>
    <tbody>
        <!-- Display the groups and items side by side -->
        {% for group, item in groups_and_items %}
        <tr>
            <td class="border text-start">{{ group.name }}</td>
            
            <td class="border text-start">{{ item.itemCode }}</td>
            <td class="border text-start">{{ item.name }}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
