{% extends 'registration/base.html' %}
{% block content %}
  <h2>DCI List</h2>
  <a href="{% url 'dciCreateView' %}"><button type="button" class="btn btn-primary btn-sm" style="float:right;">Add New</button></a>
  <div class="container mt-3"></div>

  <table class="table">
    <thead>
      <tr class="m-5 p-8">
        <th>Project Name</th>
        <th>DCI Name</th>
        <th>DCI Group</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for dc in dci %}
        <tr>
          <td>{{ dc.project }}</td>
          <td>{{ dc.name }}</td>
          <td>
            <a href="{% url 'dciOfDciGroup' dc.id %}"><button type="button" class="btn btn-primary">DCI Group</button></a>
          </td>
          <td>
            <a href="{% url 'dciUpdateView' dc.id %}"><button type="button" class="btn btn-primary">Edit</button></a>
            <form action="{% url 'dciDeleteView' dc.id %}" method="post" style="display:inline;" id="delete-form-{{dc.id}}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <script>
              document.querySelector('#delete-form-{{ dc.id }}').addEventListener('submit', function (event) {
                if (!confirm('Are you sure you want to delete this item "{{ dc.name }}"?')) {
                  event.preventDefault() // Prevent form submission if the user cancels
                }
              })
            </script>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
