{% extends "registration/base.html" %}
{% block content %}
    <h2>Client List</h2>
    <form method="POST" action="{% url 'clientList' %}">
        {% csrf_token %}
        <div class="container mt-0"></div>
    </form>
    
    <a href="{% url 'clientCreateView' %}">
        <button type="button" class="btn btn-primary btn-sm" style="float:right;">
           Add New
        </button>
    </a>

    <table class="table table-striped table-hover mt-5">
        <thead>
            <tr>
                <th class="text-start border">Name</th>
                
                <th class="text-start border">Email</th>
                <th class="text-start border">Mobile</th>
                <th class="text-end border">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cl in client %}
                <tr>
                    <td class="text-start border">{{ cl.name }}</td>
                    
                    <td class="text-start border">{{ cl.email }}</td>
                    <td class="text-start border">{{ cl.mobile }}</td>
                    <td class="text-end border">
                        <a href="{% url 'clientUpdateView' cl.id %}" title="Edit Client"><i class="fas fa-edit" aria-hidden="true"></i></a>
                        <form action="{% url 'clientDeleteView' cl.id %}" class="mx-2" method="post" style="display:inline;" id="delete-form-{{ cl.id }}">
                            {% csrf_token %}
                            <button type="submit" style="background: none; border: none; cursor: pointer;" title="Delete Client">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                            </button>
                        </form>
                        <script>
                            document.querySelector('#delete-form-{{ cl.id }}').addEventListener('submit', function (event) {
                                if (!confirm('Are you sure you want to delete this item "{{ cl.name }}"?')) {
                                    event.preventDefault(); // Prevent form submission if the user cancels
                                }
                            });
                        </script>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
