{% extends "registration/base.html" %}
{% block content%}
    <h2>Client List</h2>
    <form method="POST" action="{% url 'clientList' %}">
      {% csrf_token %}
      <div class="container mt-3"></div>
    </form>
    
   <a href="{% url 'clientCreateView' %}">
   <button type="button" class="btn btn-primary btn-sm " style="float:right;" >Add New</button>
   </a>

    <table class = "table">
      <tr class="m-5 p-8">
        <td>Name</td>
        <td> Address</td>
        <td>Email</td>
        <td>Mobile</td>
        <td>Action</td>
     </tr>
      {% for cl in client %}
        <tr>
          <td>{{cl.name }}</td>         
          <td>{{cl.address}}</td> 
          <td>{{cl.email}}</td>
          <td>{{cl.mobile}}</td>
          <td>
            <a href="{% url 'clientUpdateView' cl.id %}">   <button type="button" class="btn btn-primary">Edit</button></a>
            <form action="{% url 'clientDeleteView' cl.id %}" method="post" style="display:inline;" id="delete-form-{{ cl.id }}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <script>
              document.querySelector('#delete-form-{{ cl.id }}').addEventListener('submit', function (event) {
                if (!confirm('Are you sure you want to delete this item "{{ cl.name }}"?')) {
                  event.preventDefault() // Prevent form submission if the user cancels
                }
              })
            </script>
          </td>
       
        </tr>
      {% endfor %}
    </table>
  {% endblock %}