{% extends "registration/base.html" %}
{% block content %}
<div class='main' class="form-group">
    <h2>Update Project Lead</h2>
    <form method = "POST"  method="get" enctype="multipart/form-data" autocomplete="off">
        

        {% csrf_token %}
        {{form.as_p}}
        
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="{% url 'plList'  %}">
            <button type="button" class="btn btn-secondary">Cancel</button>
        </a>
 
    </form>
</div>
{% endblock %}