{% extends "registration/base.html" %}
{% block content%}
    <h2>Project Proposal List</h2>

    
   <a href="{% url 'ppCreateView' id %}">
   <button type="button" class="btn btn-primary btn-sm " style="float:right;" >Add New</button>
   </a>

    <table class = "table">
      <tr class="m-5 p-8">
        <td>Submission Date</td>
        <td>Proposal Cost</td>
        <td>Accepted</td>
        <td>Acceptance Date</td>
        <td>Work Order Number</td>
        {% comment %} <td>Work Order Date</td>
        <td>Work Order Cost</td> {% endcomment %}
        <td>Project Lead</td>
        <td>Actions</td>
     </tr>
      {% for pp in projectProposal %}
        <tr>
          <td>{{pp.submissionDate }}</td>         
          <td>{{pp.proposalCost}}</td> 
          <td>{{pp.accepted}}</td>
          <td>{{pp.acceptanceDate}}</td>
          <td>{{pp.workOrderNo}}</td>
          {% comment %} <td>{{pp.workOrderDate}}</td>
          <td>{{pp.workOrderCost}}</td> {% endcomment %}
          <td><a href="{% url 'plList' pp.id %}"><button type="button" class="btn btn-primary">Project Lead</button></a></td>


          <td>
            <a href="{% url 'ppUpdateView' pp.id %}">   <button type="button" class="btn btn-primary">Edit</button>
            </a>
            <form action="{% url 'ppDeleteView' pp.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
       
        </tr>
      {% endfor %}
    </table>
  {% endblock %}