{% extends "registration/base.html" %}
{% block content %}
<div class='main' class="form-group">
    <h2>Update Project for  {{ projectProposal }}</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="{% url 'projectList' projectProposal.id %}">
            <button type="button" class="btn btn-secondary">Cancel</button>
        </a>
    </form>
</div>
{% endblock %}
