{% extends "registration/base.html" %}
{% block content %}
    <h2>Scope Item List for {{ scopeGroup.name }} </h2>
    <a href="{% url 'scopeGroupList' %}" style="text-decoration: none;">
        <button type="button" class="btn btn-secondary btn-sm">
          <span style="font-size: 1.2em;">&#8592; Back</span>
        </button>
      </a>
    {% comment %} <form method="POST" action="{% url 'scopeItemList' %}">
        {% csrf_token %}
        <div class="container mt-0"></div>
    </form> {% endcomment %}
    
    <a href="{% url 'scopeItemCreateView' id %}">
        <button type="button" class="btn btn-primary btn-sm" style="float:right;">
          Add New
        </button>
    </a>

    <table class="table table-striped table-hover mt-5">
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for si in scopeItems %}
                <tr>
                    <td class="text-start">{{ si.name }}</td>
                    <td class="text-end">
                        <a href="{% url 'scopeItemUpdateView' si.id %}" title="Edit Scope Item"><i class="fas fa-edit" aria-hidden="true"></i></a>
                        <form action="{% url 'scopeItemDeleteView' si.id %}" method="post" style="display:inline;" id="delete-form-{{ si.id }}">
                            {% csrf_token %}
                            <button type="submit" style="background: none; border: none; cursor: pointer;" title="Delete Scope Item">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                            </button>
                        </form>
                        <script>
                            document.querySelector('#delete-form-{{ si.id }}').addEventListener('submit', function (event) {
                                if (!confirm('Are you sure you want to delete this item "{{ si.name }}"?')) {
                                    event.preventDefault(); // Prevent form submission if the user cancels
                                }
                            });
                        </script>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
