<h5 class="modal-title">Add New Scope Item for "{{ scopeGroup.name }}"</h5>
<div class="modal-body">
    <form method="post" hx-post="{% url 'scopeItemCreateView' scopeGroup.id %}" hx-target="#scope-item-list" hx-swap="outerHTML" hx-on="htmx:afterRequest: $('#form-modal').modal('hide')">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
    </form>
</div>
