{% extends "registration/base.html" %}
{% block content %}
    <h2>Sector List</h2>

    <button type="button" class="btn btn-primary btn-sm" style="float:right;" hx-get="{% url 'sectorCreateView' %}" hx-target="#modal-body" hx-trigger="click" hx-swap="innerHTML">
        Add New
    </button>

    <table class="table table-striped table-hover mt-5">
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sc in sector %}
                {% include 'project/sectorRow.html' with sc=sc %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
