{% extends "registration/base.html" %}
{% block content%}
    <h2>Staff List</h2>
    <form method="POST" action="{% url 'staffList' %}">
      {% csrf_token %}
      <div class="container mt-3"></div>
    </form>
    
   <a href="{% url 'staffCreateView' %}">
   <button type="button" class="btn btn-primary btn-sm " style="float:right;" >Add New</button>
   </a>

    <table class = "table">
      <tr class="m-5 p-8">

        <td>Father's Name</td>
        <td>Date Of Birth</td>
        <td>Address Present</td>
        <td>Address Home</td>
        <td>Email</td>
        <td>Mobile1</td>
        <td>Mobile2</td>
        <td>Actions</td>
     </tr>
      {% for sf in staff %}
        <tr>
          <td>{{sf.fathersName }}</td>         
          <td>{{sf.dateOfBirth}}</td> 
          <td>{{sf.addressPresent}}</td>
          <td>{{sf.addressHome}}</td>
          <td>{{sf.email}}</td>
          <td>{{sf.mobile1}}</td>
          <td>{{sf.mobile2}}</td>
          <td>
            <a href="{% url 'staffUpdateView' sf.id %}">   <button type="button" class="btn btn-primary" >Edit</button></a>
            <form action="{% url 'staffDeleteView' sf.id %}" method="post" style="display:inline;" id="delete-form-{{ sf.id }}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form> <script>
              document.querySelector('#delete-form-{{ sf.id }}').addEventListener('submit', function (event) {
                if (!confirm('Are you sure you want to delete this item "{{ sf.name }}"?')) {
                  event.preventDefault() // Prevent form submission if the user cancels
                }
              })
            </script>
          </td>
       
        </tr>
      {% endfor %}
    </table>
  {% endblock %}