{% extends "registration/base.html" %}
{% block content %}
    <h2>Hinderance Follow Up List for:</h2>
         <h3>{{ hinderance.dciItem }}</h3>
    
    <div>
        <!-- Back Button -->
        <a href="{% url 'hinderancesList' %}" style="text-decoration: none;">
            <button type="button" class="btn btn-secondary btn-sm">
                <span style="font-size: 1.2em;">&#8592; Back</span>
            </button>
        </a>
        
        <!-- Add New Button -->
        <!-- Add New Button with HTMX -->
<a hx-get="{% url 'hinderanceFollowUpCreateView' hinderance.id %}" hx-target="#modal-body-content" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#formModal">
  <button type="button" class="btn btn-primary btn-sm" style="float:right;">
    Add New
  </button>
</a>
    </div>

    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>
                <th class="text-start border">Follow Up Date</th>
                <th class="text-start border">Follow Up Description</th>
                <th class="text-end border">Document</th>
                <th class="text-end border">Actions</th>
            </tr>
        </thead>
        <tbody id="follow-up-table-body" hx-swap-oob="true">
            {% include 'tasks/hinderanceFollowUpTablePartial.html' %}
        </tbody>
    </table>
    
{% endblock %}
