{% extends "registration/base.html" %}
{% block content %}
    <h2>Hinderances List</h2>
    <a href="{% url 'hinderancesCreateView' %}">
        <button type="button" class="btn btn-primary btn-sm" style="float:right;">
             Add New
        </button>
    </a>

    <table class="table table-striped table-hover mt-5">
        <thead>
            <tr>
                <th class="text-start border">DCI Item</th>
                <th class="text-start border">Date Of Occurrence</th>
                
                <th class="text-start border">Associated Staff</th>
                <th class="text-start border">Cleared</th>
                <th class="text-start border">Cleared Date</th>
                <th class="text-end border">Follow Up</th>
                <th class="text-end border">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for hd in hinderances %}
                <tr>
                    <td class="text-start border">{{ hd.dciItem }}</td>
                    <td class="text-start border">{{ hd.dateOfOccurrence }}</td>
                   
                    <td class="text-start border">{{ hd.associatedStaff }}</td>
                    <td class="text-start border">{{ hd.cleared }}</td>
                    <td class="text-start border">{{ hd.clearedDate }}</td>
                    <td class="text-end border">
                        <a href="{% url 'hinderanceFollowUpList' hd.id %}" class="mx-5" title="Follow Up">
                            <i class="fas fa-list" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td class="text-end border">
                        <a href="{% url 'hinderancesUpdateView' hd.id %}" title="Edit Hinderance"><i class="fas fa-edit" aria-hidden="true"></i></a>
                        <form action="{% url 'hinderancesDeleteView' hd.id %}" class="mx-2" method="post" style="display:inline;" id="delete-form-{{ hd.id }}">
                            {% csrf_token %}
                            <button type="submit" style="background: none; border: none; cursor: pointer;" title="Delete Hinderance">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                            </button>
                        </form>
                        <script>
                            document.querySelector('#delete-form-{{ hd.id }}').addEventListener('submit', function (event) {
                                if (!confirm('Are you sure you want to delete this item "{{ hd.dciItem }}"?')) {
                                    event.preventDefault(); // Prevent form submission if the user cancels
                                }
                            });
                        </script>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
