{% extends "registration/base.html" %}
{% block content %}
    <h2>Submissions List</h2>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <form method="POST" action="{% url 'submissionsList' %}">
            {% csrf_token %}
            <div class="container mt-3"></div>
        </form>
        <a href="{% url 'submissionsCreateView' %}"><button type="button" class="btn btn-primary btn-sm " style="float:right;">Add New</button></a>
</div>
    <div style="overflow-x: auto; z-index: 1;">
        <table class="table">
            <tr class="m-5 p-8">
                <td>Project Name</td>
                <td>Revision Number</td>
                <td>Why Revision</td>
                <td>Checking Date</td>
                <td>Printing Date</td>
                <td>Submission Date</td>
                <td>Actions</td>
            </tr>
            {% for sb in submissions %}
                <tr>
                    <td>{{ sb.project.projectName }}</td>
                    <td>{{ sb.revisionNo }}</td>
                    <td>{{ sb.whyRevision }}</td>
                    <td>{{ sb.checkingDate }}</td>
                    <td>{{ sb.printingDate }}</td>
                    <td>{{ sb.submissionDate }}</td>
                    <td>
                        <a href="{% url 'submissionsUpdateView' sb.id %}"><button type="button" class="btn btn-primary">Edit</button></a>
                        <form action="{% url 'submissionsDeleteView' sb.id %}" method="post" style="display:inline;" id="delete-form-{{ sb.id }}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <script>
                            document.querySelector('#delete-form-{{ sb.id }}').addEventListener('submit', function (event) {
                              if (!confirm('Are you sure you want to delete this item "{{ sb.name }}"?')) {
                                event.preventDefault() // Prevent form submission if the user cancels
                              }
                            })
                          </script>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
