{% extends "registration/base.html" %}
{% block content %}
    <h2>Submissions List</h2>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <form method="POST" action="{% url 'submissionsList' %}">
            {% csrf_token %}
            <div class="container mt-3"></div>
        </form>
        <a href="{% url 'submissionsCreateView' %}">
            <button type="button" class="btn btn-primary btn-sm">
                Add New
            </button>
        </a>
    </div>
    <div style="overflow-x: auto; z-index: 1;">
        <table  class="table table-striped table-hover mt-3">
            <thead>
                <tr>
                    <th class="text-start">Project Name</th>
                    <th class="text-start">Revision Number</th>
                    <th class="text-start">Submission Date</th>
                    <th class="text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sb in submissions %}
                    <tr>
                        <td class="text-start">{{ sb.project.projectName }}</td>
                        <td class="text-start">{{ sb.revisionNo }}</td>
                        <td class="text-start">{{ sb.submissionDate }}</td>
                        <td class="text-end">
                            <a href="{% url 'submissionsUpdateView' sb.id %}" title="Edit Submission"><i class="fas fa-edit" aria-hidden="true"></i></a>
                            <form action="{% url 'submissionsDeleteView' sb.id %}" method="post" style="display:inline;" id="delete-form-{{ sb.id }}">
                                {% csrf_token %}
                                <button type="submit" style="background: none; border: none; cursor: pointer;" title="Delete Submission">
                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                </button>
                            </form>
                            <script>
                                document.querySelector('#delete-form-{{ sb.id }}').addEventListener('submit', function (event) {
                                    if (!confirm('Are you sure you want to delete this item "{{ sb.project.projectName }}"?')) {
                                        event.preventDefault(); // Prevent form submission if the user cancels
                                    }
                                });
                            </script>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
