{% extends "registration/base.html" %}
{% block content%}

            
            <h3>STS</h3>
            <h3>Wide Spectrum of Services under one roof</h3>
            <h4>Our Services</h4>
            <li>Water Supply</li>
            <li>Wastewater</li>
            <li>Solid Waste</li>
            <li>Transportation</li>
            <li>Water Bodies</li>
            <li>Urban Planing</li>
            <h4>Why Us</h4>
            <li>Experienced Workforce</li>
            <li>30 years Experience</li>
            <li>Timely Delivery</li>
{% endblock %}